# Ignore Visual Studio files
.vs/
.vscode/
.idea/

# Ignore build output directories
bin/
obj/
x64/

# Ignore other unnecessary files
*.user
*.userosscache
*.suo
*.userprefs
*.sln
*.vcxproj
*.filters
*.vcxproj.filters
